<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="faslet" translate="label" sortOrder="500" class="faslet-extensions">
            <label>Faslet</label>
        </tab>
        <section id="faslet_connect" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>faslet</tab>
            <resource>Faslet_Connect::config</resource>
            <include path="Faslet_Connect::system/branding.xml"/>
            <include path="Faslet_Connect::system/general.xml"/>
            <include path="Faslet_Connect::system/data.xml"/>
            <include path="Faslet_Connect::system/debug.xml"/>
        </section>
    </system>
</config>
